<div class="div-main">
    <p class="titulo-p">Login</p>
    <form action="/login" method="POST" class="form-div">

        <input type="text" name="email" placeholder="Email">

        <input type="password" name="password" placeholder="Senha">        
        <input type="submit" value="Entrar">
    </form>
    <div class="redirect-div">
        <a href="/register">criar conta</a>
        <a href="/ponto">esqueceu sua senha?</a></p>
    </div>
</div>