<div class="work-point">
        <p translate="no">WORK POINT</p>
</div>
<div class="div-main">
    <div class="div-auth">
        <p class="titulo-p" translate="no">Login</p>
        <form action="/login" method="POST" class="form-div">

            <input type="text" name="email" placeholder="Email" required>

            <input type="password" name="password" placeholder="Senha" required>        
            <input type="submit" value="Entrar" translate="no">
        </form>
        <div class="redirect-div">
            <a href="/suporte">suporte</a>
            <a href="/novousuario">não tem conta?</a>            
        </div>
    </div>
    
</div>