<div class="page-historico">
    <div class="div-auth profile-pag">
        <div class="div-profile">
            <p class="titulo-profile">ATUALIZAR USUÁRIO</p>
            <form action="/register" method="POST" class="form-profile">

            <div class="profile-dados">
                <label>Nome:</label>
                <p>{{name}}</p>
                <img src="img/pincel.png" class="img-icon">
            </div>
            <div class="profile-dados">
                <label>Email:</label>
                <p>{{email}}</p>
                <img src="img/pincel.png" class="img-icon">
            </div>
            
            <div class="profile-dados">
                <label>CPF:</label>
                <p>{{cpf}}</p>
                <img src="img/pincel.png" class="img-icon profile-pincel">
            </div>
            
            <input type="submit" class="profile-button" value="Atualizar Conta">

        </form>
    </div>
        </div>
        
</div>
</div>