<div class="all-page">
    <div class="suporte-titulo-novo-user"></div>
    <h2 class="h2-contato">Entre em contato com o suporte diretamente por esses três links abaixo:</h2>
    <div class="div-itens-contato">
        <a href="https://wa.me/5573999885682" target="_blank" rel="noreferrer noopener"><div class="itens-entrar-em-contato"><p>Entrar em contato pelo</p><img src="img/whatsapp.png" class="img-icon-contato"></div></a>
        <a href="https://www.instagram.com/luizhenriqel/" target="_blank" rel="noreferrer noopener"><div class="itens-entrar-em-contato"><p>Entrar em contato pelo</p><img src="img/instagram.png" class="img-icon-contato"></div></a>
        <a href="https://linkedin.com/in/luiz-henrique-lopes-9a8a37218" target="_blank" rel="noreferrer noopener"><div class="itens-entrar-em-contato"><p>Entrar em contato pelo</p><img src="img/linkedin.png" class="img-icon-contato"></div></a>
    </div>   
</div>