<div class="all-page">
    <div class="suporte-titulo-novo-user">
    </div>
    <div class="suporte-novo-usuario">
        <div class="texto-novo-usuario">
            <h2>Preencha o formulário</h2>
            <p>A criação de um novo usuário é feita pelo suporte, ao preencher o formulário, as informações
            serão enviadas para o suporte que te enviará pelo WhatsApp uma senha que permitirá o uso do sistema.</p>
        </div>
        <div>
            <form action="" method="post" class="form-div-novo-usuario">
                <input type="text" placeholder="Digite seu nome completo" class="input-new-usuario" required>
                <input type="email" placeholder="Digite seu Email" class="input-new-usuario" required>
                <input type="text" placeholder="Digite seu CPF" class="input-new-usuario" required>
                <input type="text" placeholder="Digite seu número de telefone" class="input-new-usuario" required>
                <input type="text" placeholder="Observação" class="input-new-usuario">
                <input type="submit" value="Enviar" class="buttom-novo-usuario">
            </form>
        </div>
    </div>

</div>