<div class="all-page">
    <div class="suporte-titulo-novo-user"></div>
    <div class="div-relatar-erro">
        <h2>Relate o erro para o suporte</h2>
        <form action="" method="post">
            <textarea placeholder="Descreva o problema, sua mensagem será enviada para o suporte"></textarea>
            <input type="submit" value="Enviar" >
        </form>
    </div>
</div>