<div class="all-page">
    <div class="work-point">
        <h2>Suporte Work Point</h2>
    </div>
    <div class="div-itens-suporte">
        <div class="itens-suporte"><p>Novo usuário</p></div>
        <div class="itens-suporte"><p>Relatar erro</p></div>
        <div class="itens-suporte"><p>Entrar em contato</p></div>

    </div>
</div>