<div class="all-page">
    <div class="suporte-titulo">
        <h2>SUPORTE WORK POINT</h2>
    </div>
    <div class="div-itens-suporte">
        <a href="/novousuario"><div class="itens-suporte"><p>Novo usuário</p></div></a>
        <a href="/reportarerro"><div class="itens-suporte"><p>Relatar erro</p></div></a>
        <a href="/contato"><div class="itens-suporte"><p>Entrar em contato</p></div></a>
    </div>
</div>