*{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;   
}
a{
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
  }

.menu-main{
    display: flex;
    flex-direction: row;
    top:0;

    width: 100%;
    height: 45px;
    background-color: #ffffff;
    border-bottom:solid 2px rgba(0, 0, 0, 0.818);
    
    justify-content: space-between;
}

.logo-menu{
    width: 5%;
}  

.menu-options{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
}

.menu-logar{
    margin: 0 80%;
    display: flex;
    gap: 25px;
}

.menu-logar-comum{
    margin: 0 75%;
    display: flex;
    gap:40px;  
}

.menu-logar-master{
    margin: 0 55%;
    display: flex;
    gap:40px;  
}

.img-icon-menu{
    width: 40px;
    height: 40px;
}

.menu-sandwich{
    display: none;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 40%;
    z-index: 1;
    width: 60%;
    height:100%;
    background-color: rgb(255, 255, 255);
    border:solid 1px black;
}


.img-menu-sandwich{
    width: 100%;
    height: 100%;
}

.menu-sandwich a{
    font-size: 25px;
}
#buttaoSand{
    width: 40px;
    height: 40px;
}

.menu-master-mobile{
    display: flex;
    flex-direction: column;
    margin:40px 12px;
    gap:8px;
}

.menu-master-mobile li{
    margin: 25px;
    display: flex;
    align-items: center;
    margin: 10px 0;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    gap:8px;
}

.menu-options a:hover{
    color:rgb(62, 57, 55);
    transition: 1s;
}
.menu-options a{
    font-size: 22px;
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size:20px;
}

ul, li{
    list-style-type: none;
}

.buttao-sandwich{
    display: none;
}

.img-menu-sandwich{
    width: 10px;
    height: 10px;
}
/* FOOTER */

footer{
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    height:105px;

    background-color: #ffffff;
    border-top:solid 4px rgba(196, 181, 181, 0.818);
    color:rgb(0, 0, 0);
}

/* PAGE OF LOGIN - REGISTER */
.page{
    width: 100%;
    height: 800px;
}

.div-main{
    width: 100%;
    height: 700px;
    margin:8% 0 0;

    border-left:solid 1px rgb(0, 0, 0);
    background-color: #039F7A;

}

.div-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-point{
    width: 100%;
    height: 80px;
    display: flex;
}

.work-point p{
    margin: 5% auto 0  ;
    font-size: 55px;
    font-family: 'Judson', serif;
}

.form-div{
    display: flex;
    flex-direction: column;

    width:300px;    
}

.form-div input{
    padding: 10px;
    margin-bottom: 1em;
    margin-top:0.1em;
    border:none;
    border-bottom: solid 1px rgb(113, 112, 112);
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
}

.titulo-p{
    font-size: 45px;
    font-family: 'Faustina', serif;
    margin:25px 0 17px 0;
    color: white;
}

.div-main input[type="submit"]{
    border:none;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    color:#039F7A;
    font-size: 15px;
    
}

.div-main input[type="submit"]:hover{
    transition: 1.2s;
    background-color: #c3c3c3;

}

input:focus {
    outline: solid 1px #ffffff; 
}

input::placeholder {
    color: #000000;
    font-size: 22px;
    font-family: 'Arima', cursive;

}
.redirect-div{
    margin-top: 10px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 8px;
}

.redirect-div a{
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.redirect-div a:hover{
    transition: 1.2s;
    color:rgb(212, 212, 212);
}

.register-nivel-usuario{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0.7em 0 2em;
    padding: 10px;
}

.register-nivel-usuario label{
    color:grey;
    margin:0;
}
.register-nivel-usuario div{
    margin:0 0 0.5em;
}

.register-nivel-usuario input{
    margin: 0 1em;
}
/* PAG PONTO */

.all-page{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height:650px;
    background-color: white;
}


.historico{
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    align-items: center;

    margin: 30px;
    margin-left: 10%;

    background-color: rgb(178, 178, 178);
}

.historico h3{
    background-color: rgb(236, 227, 227);
    font-size: 30px;
}

.div-horarios-historico{
    width:200px;
    height: auto;
    display: flex;

    display: flex;
    flex-direction:column ;
}

.item-historico-dia{
    width: 100%;
    height:40px;
    background-color: grey;
    border:solid 1px black;
    display: flex;
    flex-direction:row ;

    align-items: center;
    justify-content: center;   
}

.item-horario-historico{
    display: flex;
    flex-direction:row ;

    align-items: center;
    justify-content: center;   

    background-color: #17AA26;
    border:solid 1px black;
    font-size: 30px;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
.item-horario-historico p{
    margin: 5px;
}

/* Carregador */
.loader {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}


/* PRA TIRAR ESSE DIV DEPOIS */

#img-user{
    height:60px;
    width:60px;
    border:solid 1px grey;
    border-radius: 50%;
}

/* CRONOMETRO TEMPO */

.timeData{
    width:179px;
    height:30px;
    padding:10px;
    font-size: 25px;
    text-align: center;
    border-top:solid 1px black;
}

/* OLHA ACIMA */
.bater-ponto{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: auto;
    align-items: center;

    margin: 30px auto;
}

.div-user-horarios{
    margin:100px 0 20px;
}

.div-user-horarios div{
    display: flex;
    flex-direction:column;
    align-items: center;
    
    margin: 0;
}

.div-user-horarios div p{
    margin:4px 0 0 0;
    font-size: 15px;
    color:grey;
}

.div-user-horarios div h2{
    cursor: pointer;
    margin: 15px 0 0 0;
}

.div-user-horarios div h2:hover{
    transition: 1.0s;
    color:rgb(17, 209, 7);
}

.div-ponto-entrada{
    display: flex;
    flex-direction: column;
    margin:0;
}


.div-ponto-entrada div{
    border:solid 1px black;
    width:200px;
    text-align: center;
}


.div-ponto-entrada div h2{
    font-size:20px;
    color:white;
}

.div-ponto-entrada div p{
    font-size:25px;
    color:rgb(0, 0, 0);
    margin:10px 0 10px;
}

.confirmar-entrada{
    z-index: 999;
    margin:120px 520px;
    position: absolute;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.702),
    -10px -10px 30px rgba(0, 0, 0, 0.702);

    width:550px;
    height:450px;

    background-color: rgb(252, 249, 249);
    display: none;
    flex-direction: column;
}

.confirmar-entrada1{
    width:100%;
    height: 5%;
    display: flex;
    align-items: flex-end;
}

.confirmar-entrada2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.confirmar-entrada div textarea{
    padding: 5px;
    height: 40px;
    width:100%;
    resize: none;
    overflow: auto;
}

.item-confirmar-entrada{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:400px;
}

.confirmar-entrada h3{
    margin:8px;
}

.button-ent{
    display: block;
    border:solid 1px rgb(0, 0, 0);
    cursor: pointer;
    color: white;
    font-size: 22px;
}


#item-entrada{
    background-color: #12841d;
    justify-content: center;
}

#item-entrada:hover{
    background-color: #06550e;
    transition: 1.5s;
}

#item-saida{
    background-color: red;
    justify-content: center;
}


#item-saida:hover{
    background-color: rgb(179, 10, 10);
    transition: 1.5s;
    justify-content: center;
}


.button-voltar{
    height: 20px;
    width:30px;
    border:solid 1px red;
}

.button-voltar input{
    background-color: red;
    border:solid 1px black;
    color:white;
    cursor: pointer;

    margin:150px 0 0 300px;
}

.confirmar-entrada input{
    width: 200px;
    padding:10px;
    font-size: 22px;
}

#button-entrada{
    margin:8px 0 0;
}


/* HISTORICO PAGE */

.main-page-historico{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:900px;
}

.container-titulo{
    display: flex;
    margin: 15px auto 0 ;
    color:white;
}

.item-all-page-historico{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.perfil-info-historico{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 20%;
    margin: 0;
    padding-top:30px;
    padding-bottom:30px;
}

.perfil-info-historico div{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
}

.perfil-info-historico div p{
    margin: 0;
    color:rgb(71, 70, 70);
}
.perfil-info-historico div h2{
    margin: 3em 0 0 0;
}

.img-historico{
    width:15px;
    height:15px;
}

.container-control{
    margin: 0 0px 15px 0;
    display:flex;
    flex-direction: row;
    gap:12px;
    align-items: center;
}

.container-control p{
    margin:0;
}

.img-historico{
    border-radius: 40px;
    margin-left:20px;
}

.img-historico:hover{
    background-color: rgb(255, 255, 255);
}


/*   PAGE HISTÓRICO DO DIA DETALHADO   */
.page-historico{
    display: flex;
    flex-direction: column;
    height: 900px;
}

.container-itens-detalhados{
    display: flex;
    height: 300px;
    width: 900px;
    border: solid 1px rgb(255, 255, 255);
    overflow-y: auto;
    margin: 3px 0 0 0;
    padding:20px;
}


.itens-container-historico-tituloss{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: solid 1px white;

    width: 30%;
}


.item-all-page-historico{
    margin: 0;
    background-color: #039F7A;
    width: 100%;
    height: 100%;
}
#item-container-titulo{
    border-right: none;
}

/*  CONTROLE DE DADOS   */

.div-titulo-controle{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 20%;
    margin: 0 0 2em;
    
}

.titulo-controle{
    color:black;
    font-size: 35px;
    margin: 90px auto 10px ;
}

.button-register{
    cursor: pointer;
    border: solid 1px grey;
    width: 10em;
    margin: 1em 61%;
    padding:10px;
    display: flex;
    justify-content: center;
}

.button-register:hover{
    transition: 1.2s;
    background-color: #a6a6a6;
}

.users-controle p{
    margin:0;
}

.img-icon:hover{
    background-color: grey;
    transition: 1.9s;
    border-radius: 20px;
}
.img-icon{
    width: 24px;
    height: 24px;
}
.titulo-dados-user{
    color: white;
    border-left:solid 1px rgb(0, 0, 0);
    border-top:solid 1px rgb(0, 0, 0);
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 5px 0 0 0;
    margin: 0;
    width:100%;

    display: flex;
    align-items: center;
}

.titulo-dados-user h2{
    margin: 0;
    color: white;
}

.name-controler{
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-bottom: solid 1px rgb(0, 0, 0);
    border-left:solid 1px rgb(0, 0, 0);
    width:50%;    
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
#identSaida{
    background-color: rgb(203, 202, 202);
}

.ver-mais{
    border-right:solid 1px rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}

.name-controler p{
    color: rgb(0, 0, 0);
    margin:0 3px 0;
}

.name-controle{
    margin: 0;
}

.container-dados-users{
    display: flex;
    justify-content: center;
    width: 600px;

    margin: 30px 0 0 0;

    height: 500px;
    overflow-y: auto;
    padding:20px;

}

.users-controle{
    margin: 0;
    display: flex;
    flex-direction: column;
}

.div-layout-dados{
    display: flex;
    flex-direction: row;
    width: 900px;
}

.div-layout-dados-menor{
    display: flex;
    flex-direction: row;
    width: 600px;
}

.container-dados-userss{
    display: flex;
    justify-content: center;
    width: 900px;

    margin: 30px 0 0 0;

    height: 500px;
    overflow-y: auto;
    padding:20px;

}


/* PROFILE PAGE */

.profile-pag{
    background-color:  #039F7A;
}

.div-profile{
    background-color: white;
    width: 420px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding:20px 0;
    align-items: flex-start;
    border: solid 1px black;
}

.titulo-profile{
    color: black;
    font-size: 25px;
    margin: 5px auto 10px;
}

.form-profile p{
    width: 300px;
    padding: 10px;
    border:none;
    border-bottom: solid 1px rgb(113, 112, 112);
    border-radius: 10px;
    font-size: 20px;
    color: #000000;
    margin: 0;
}

.form-profile{
    display: flex;
    flex-direction: column;
    
    width:100%;    
}

.profile-dados{
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 5px;
}

.profile-dados label{
    margin:0 0px 0px 15px;
}

.profile-dados img{
    padding: 10px;
}

.profile-pincel:hover{
    padding: 5px;
}

.atualizar-nivel-usuario{
    margin: 0 auto;
}

.profile-button{
    margin: 25px auto;
    width: 250px;
    border-radius: 10px;
    background-color: #12841d;;
    padding: 12px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.profile-button:hover{
    background-color: rgb(11, 157, 11);
}

/* SUPORTE PAGE */

.div-itens-suporte{
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 50px;
}

.div-itens-suporte a{
    margin:0;
}

.suporte-titulo{
    height: 300px;
    width: 100%;
    background-color: #039F7A;
    text-align: center;
}

.suporte-titulo h2{
    color:white;
    font-size: 45px;
    margin: 90px 0 0 0;
}

.itens-suporte{
    width: 280px;
    height: 150px;
    background-color: #F3F3F3;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 7px 7px 2px rgb(63, 63, 63);

    margin: 55px 0 0 0;
}


.itens-suporte:hover{
    transition: 1.3s;
    background-color:rgb(212, 212, 212);
}

.itens-suporte p{
    font-size: 25px;    
    font-weight: bold;
    margin:55px 0 0 0
}

/* Suporte - Novo Usuário */
.suporte-titulo-novo-user{
    height: 80px;
    width: 100%;
    background-color: #039F7A;
}

.texto-novo-usuario h2{
    font-size: 35px;
    margin: 30px 60px 10px;
}

.texto-novo-usuario p{
    font-size: 16px;
    margin: 0 60px;
}

.form-div-novo-usuario{
   
    display: flex;
    flex-direction: column;

    width:300px;    
    margin: 15px 68px;
}

.input-new-usuario{
    width: 280px;
    padding: 12px;
    margin-bottom: 1em;
    margin-top:0.1em;
    border: solid 1px rgb(113, 112, 112);
    border-radius: 3px;
    font-size: 20px;
    color: #000000;
}

.input-new-usuario::placeholder{
    font-size:18px;
    font-weight: bold;
    color: rgb(97, 97, 97);
}

.buttom-novo-usuario{
    width: 200px;
    border: none;
    background-color: #a6a6a6;
    box-shadow: 4px 4px 0 black;
    height: 45px;
    color: white;
    font-size: 22px;
    cursor: pointer;
}


.buttom-novo-usuario:hover{
    background-color: #8b8a8a;
    transition: 1.2s;
}

/* SUPORTE - RELATAR ERRO */

.div-relatar-erro{
    background-color: rgb(223, 223, 223);
    width: 80%;
    height: 170px;
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 0 rgb(85, 85, 85);
}

.div-relatar-erro h2{
    margin: 20px 10px;
}

.div-relatar-erro textarea{
    width: 90%;
    margin: 0 10px;
    outline:none;
    overflow: none;
    resize: none;
}

.div-relatar-erro input{
    border: none;
    width: 180px;
    margin: 10px 20px;
    padding:10px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    box-shadow: 1px 1px 0 black;
    font-size: 17px;
    cursor: pointer;
}

.div-relatar-erro input:hover{
    background-color: #d1d0d0;
    transition: 1.5s;
}

/* SUPORTE - ENTRAR EM CONTATO */
.h2-contato{
    margin: 30px 35px 18px;
    font-size: 25px;
}

.div-itens-contato{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    gap: 40px;
}

.div-itens-contato a{
    margin: 0;
}

.itens-entrar-em-contato{
    width: 350px;
    height: 50px;
    border-radius: 4px;
    background-color: rgb(239, 235, 235);
    box-shadow: 5px 5px 1px rgb(43, 43, 43);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.itens-entrar-em-contato:hover{
    background-color: #f0f0f0;
    transition: 1.5s;
}

.itens-entrar-em-contato p{
    font-size: 20px;
    font-weight: bold;

}

.img-icon-contato{
    width: 40px;
    height: 40px;
}

/* TIRAR FOTO */

.div-video{
    width: 600px;
    height: 600px;
    display: none;
    z-index: 999;
    margin: 40px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.div-retrato-video{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-retrato-video{
    background-color: #B3ACAC;
    color: #343536;
    width: 100%;
    margin: 0;
    text-align: center;   
}

.titulo-retrato-video p{
    font-size: 18px;
    font-weight: bold;
}
#canvas{
    width: 100%;
    height: 90%;
}
.div-video canvas{
    margin: 0;
}
.div-video button{
    margin: 0;
}
.div-video video{
    margin: 0;
}
#tirar-foto{
    height: 100%;
    width: 100%;
    margin: 0;
}

.but-fotos{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: #B3ACAC;
}


.butfotosenviar{
    width: 180px;
    height: 40px;
    padding: 10px;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    border: solid 1px rgb(126, 124, 124);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.butfotosenviar:hover{
    transition: 2.4s;
    background-color: #6b6a6a;
}

.abrirImagem{
    display: none;
    position: absolute;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    background-color: #2a2a2a;

}