@media screen and (max-width:1300px){
    /* BARRA DE MENU */
    .menu-options{
        width: 85%;
    }
    .menu-main ul li a{
        font-weight: bold;
        font-size:18px;
    }
}
@media screen and (max-width:1110px){
    /* BARRA DE MENU */
    .menu-options{
        width: 75%;
    }
    .menu-main ul li a{
        font-weight: bold;
        font-size:16px;
    }
}
@media screen and (max-width:900px){
    /* BARRA DE MENU */
    .menu-options{
        display: none;
    }
    /* BARRA DE MENU MOBILE */

    .menu-logar{
        margin: 0;
        display: flex;
        justify-content: flex-start; 
    }

    .menu-logar-comum{
        margin: 0;
        display: flex;
        justify-content: flex-start; 
    }

    .menu-logar-master{
        margin: 0;
    }

    .buttao-sandwich{
        display: flex;
        height: auto;
        width: 60px;
    }

    .titulo-dados-user{
        justify-content: center;
    }
}


@media screen and (max-width:600px){

    /* BARRA DE MENU */
    .menu-options{
        display: none;
    }
    /* BARRA DE MENU MOBILE */
    .menu-master-mobile{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    

    .menu-master-mobile li:hover{
        background-color: rgb(247, 242, 242);
    }
    
    .buttao-sandwich{
        display: flex;
        height: auto;
        width: 60px;
    }
    /* TÍTULO DE LOGIN */
    .work-point p{
        margin: 10% auto 0  ;
        font-size: 40px;
    }

    /* CONTROLE DE DADOS */
    .perfil-info-historico{
        justify-content: center;
    }

    .perfil-info-historico div h1{
        font-size: 22px;
    }

    .titulo-controle{
        font-size: 20px;
    }
    .users-controle{
        width: 420px;
    }
    .container-dados-userss{
        width: 200px;
    }

    .titulo-dados-user{
        height: 30px;
    }
    .titulo-dados-user h2{
        font-size: 18px;
    }
    
    .form-div input{
        margin-bottom: 0.7em;
    }
    
    
    .div-layout-dados-menor{
        width:380px;
    }
    
    .name-controler p{
        font-size: 13px;
    }

    .cpf{
        display: none;
    }

    .container-dados-userss{
        width:390px;
        display: flex;
        justify-content: center;
    }
    .container-itens-detalhados{
        width:300px;
    }

    .button-register{
        margin: 1em 55%;
        width: 8em;
        font-size: 10px;
    }
    /* HISTÓRICO DE CONTROLES */
    .container-dados-users{
        width:350px;
    }
    .div-layout-dados{
        width: 400px;
    }
}

@media screen and (max-width:400px){
    .div-layout-dados{
        width: 370px;
    }
}
