<div class="all-page">

    <div class="bater-ponto">
        <div class="div-user-horarios">
            <div>
                <div id="img-user"></div>
                <p>{{nome}}</p>
                <p>{{email}}</p>
            </div>
            <div>
                <a href="/"><h2 id="horarios-agendamento">Seus Horários</h2></a>
            </div>
        </div> 
            <div class="div-ponto-horarios">
                    
                
                    <div><input type="text" name="timeData" class="timeData" value="00:00:00"></div>
                    <div class="div-ponto-entrada">
                        {{#if butEntrada}}
                        <div class="button-ent" id="item-entrada"><h2>Entrada</h2></div>
                        {{else}}
                        <div class="button-ent" id="item-saida"><h2>Saída</h2></div>
                        {{/if}}
                    </div>  
            </div>

    </div>
            <div class="confirmar-entrada">
                <div class="confirmar-entrada1">
                    <div type="submit" value="Voltar" class="button-voltar"></div>
                </div>
                <div class="confirmar-entrada2">
                    <form action="/pontoEntrada" method="post" id="form-ponto">

                        <div class="item-confirmar-entrada">
                                <h3>Confirme para bater o ponto</h3>
                                <textarea name="descricao" id="descricao" placeholder="Descreva como foi seu dia e se aconteceu algo de diferente" required></textarea>
                                <label></label><input type="checkbox">
                                <input type="submit" name="ConfirmarEntrada" class="button-ent" id="button-entrada" value="Confirmar">
                            </div>
                        </div>
                    </form>
                </div>
                
                
</div>
<script src="js/settings.js"></script>
