<div class="page-historico">

    <div class="div-titulo-controle">
        <p class="titulo-controle">DADOS DOS USUÁRIOS</h2>
        <div class="button-register"><a href="/register">NOVO USUÁRIO</a></div>
    </div>     

    <div class="item-all-page-historico">
        <div class="container-dados-users">
               <div class="users-controle">  
                    <div class="tiiii">   
                        <div class="titulo-dados-user"><h2>Nome</h2></div>
                        <div class="titulo-dados-user tit-email"><h2>Email</h3></div>
                        <div class="titulo-dados-user"><h2>CPF</h2></div>
                        <div class="titulo-dados-user ver-mais"><h2>Ver Mais</h2></div>
                    </div>
                {{#each pessoas}}
                    <div class="tiiii">   
                        <div class="name-controler"><p>{{this.name}}</p></div>
                        <div class="name-controler tit-email"><p>{{this.email}}</p></div>
                        <div class="name-controler"><p>{{this.cpf}}</p></div>
                        <div class="name-controler ver-mais"><a href="/controleuser{{this.userId}}"><img class="img-olho-controle" src="img/lupa.png"></a></div>   
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>