<div class="all-page">
    <div class="main-page-historico">
        <div class="container-titulo">
            <h2>USER</h2>
            <p>{{nameUser}}</p>
        </div>
        
        <div class="container-titulo">
            <h2>DATA</h2>
            {{#each dataDeCriacao}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="container-titulo">
            <h2>TEMPO TRABALHADO</h2>
            {{#each tempoDeTrabalho}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        <div class="container-titulo">
            <h2>HORÁRIO DE CHEGADA</h2>
            {{#each createdAt}}
            <p>{{this}}</p>
            {{/each}}
        </div>
    </div>
</div>


</div>
        <div class="user-info">
            <
        </div>